.about {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 50%;
  width: 50vw;
  height: 30vh;
  transform: translate(-50%, -50%);
  background-color: rgb(216, 216, 216, 0.9);
  border-radius: 8px;
  transition: 1s;
}

.content h2 {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  cursor: default;
}

.content p {
  margin: 5px;
  cursor: default;
}

p a {
  color: rgba(37, 18, 122, 0.9);
  cursor: pointer;
}

.content:hover {
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.2);
}
